html,
body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

body {
}

.border {
  border: 2px solid green;
}

/*------------------------------------ Top info nav ------------------------------------*/
.info-nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #1f2c46; */
  background-color: #13171f;
  width: 100%;
  height: 5%;
  color: white;
  /* text-align: center;    */
  margin: 0;
  font-size: 13px;
}

.info-nav-container span a {
  text-decoration: none;
  color: #1c8fc5;
}

.info-nav-container span a:hover {
  text-decoration: underline;
}

/*------------------------------------ HEADER AND NAVBAR ------------------------------------*/

.headerAndNavbar {
  background-image: url(img/SVG\ Background\ 1.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 50% auto;
  z-index: 2;
  background-color: #f5f5f590;
}
/*------------------------------------ NAVBAR ------------------------------------*/

.navbar {
  display: grid;
  grid-template-columns: 5fr 2fr 1fr;
  align-items: center;
  height: 8.5vh;
  padding: 0px 5vw;
  /* background-color: #13171f; */
}

.nav-links {
  margin: 0;
}

.nav-links ul {
  display: flex;
  text-decoration: none;
  justify-content: right;
  align-items: center;
  list-style: none;
}

.ul-link li {
  margin-left: 2.5vw;
}

.ul-link li a {
  text-decoration: none;
  color: #ffffff;
  font-family: poppins;

  /* font-weight: 300; */
}

.ul-link li a:hover {
  border-bottom: 2px solid;
  /* transition: width 0.5s; */
  transition: border-bottom 0.5s;
}

.join-btn-container {
  display: flex;
  justify-content: flex-end;
}

.join-btn {
  border: none;
  color: white;
  background: rgb(28, 143, 197);
  background: linear-gradient(
    90deg,
    rgba(28, 143, 197, 1) 0%,
    rgba(17, 88, 124, 1) 100%
  );
  border-radius: 8px;
  height: 5vh;
}

.join-btn:hover {
  color: #ffffff;
  background: rgb(17, 88, 124);
  background: linear-gradient(
    90deg,
    rgba(17, 88, 124, 1) 0%,
    rgba(28, 143, 197, 1) 100%
  );
}

/*------------------------------------ HEADER ------------------------------------*/
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90vh;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  padding-left: 5vw;
  color: #343434;
}

.header-text h1 {
  font-family: poppins;
  font-weight: 700;
  font-size: 2.3rem;
  margin: 0px;
}

.header-text h3 {
  font-family: poppins;
  font-weight: 400;
  margin: 10px 0px;
}

.view-gallery {
  border: none;
  color: white;
  background-color: #1c8fc5;
  border-radius: 8px;
  height: 6vh;
}

.view-gallery:hover {
  color: #1c8fc5;
  border: 1px solid #1c8fc5;
  background-color: rgba(255, 255, 255, 0);
}

.signup {
  border: none;
  color: white;
  background-color: #c51c4f;
  border-radius: 8px;
  height: 6vh;
}

.signup:hover {
  color: #c51c4f;
  border: 1px solid #c51c4f;
  background-color: rgba(255, 255, 255, 0);
}

.right {
  display: flex;
  align-items: center;
  justify-content: ;
  /* border: 2px solid; */
  /* padding-left: 5vw; */
}

#header-img {
  width: 35vw;
}

/*------------------------------------ POPULAR ------------------------------------*/
.popular-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  padding: 0px 5vw;
  margin: 5vh 0;
}

#popular {
  border: 1px solid #6d6d6d80;
  border-radius: 8px;
  height: 6vh;
  font-weight: 550;
  font-size: 1rem;
  padding-left: 2%;
}

.popular-links {
  display: flex;
  list-style: none;
}

.popular-links li {
  margin-right: 2vw;
}

.popular-links li a {
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 300;
  color: black;
}

.popular-links li a:hover {
  color: white;
  border-radius: 3px;
  background-color: #1c8fc5;
  padding: 0px 8px;
}

.popular-links-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-container {
  display: flex;
  justify-content: flex-end;
}

.filter-btn {
  border: 1px solid #6d6d6d80;
  background-color: rgba(255, 255, 255, 0);
  /* color: white; */
  border-radius: 8px;
  height: 5vh;
  font-weight: 500;
  font-size: 1rem;
  padding-left: 2%;
}

/*------------------------------------ OUR services ------------------------------------*/
.our-services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3vh 0;
  transition: all 0.5s;
}

.our-services-container h2 span {
  color: #1c8fc5;
}
.our-services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}

.the-services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: auto;
}

.services {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2vw;
  border: 0.5px solid #9b9b9b50;
  gap: 10px;
  transition: box-shadow 1s;
}

.services:hover {
  box-shadow: 2px 2px 20px 1px #88888850;
}

.services img {
  height: 15vh;
}

.first-service {
  border-right: none;
  border-radius: 15px 0 0 15px;
}

.second-service {
  border-right: none;
}

.third-service {
  border-right: none;
}

.fourth-service {
  border-radius: 0 15px 15px 0;
}

/*------------------------------------ OUR PROCESS ------------------------------------*/
.our-process-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  height: 50vh;
  padding: 10vh 0;
  text-align: center;
  margin: 0;
  transition: all 0.5s;
}

.process-text h3 {
  font-weight: 500;
  font-size: 1rem;
  margin-top: 0;
  transition: all 0.5s;
}

.process-text h3 a {
  color: #1c8fc5;
  text-decoration: none;
  transition: all 0.5s;
}

.process-text h2 {
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.5s;
}

.our-process {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  padding: 5vh 0;
  gap: 5vw;
  transition: all 0.5s;
}

.process {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15vw;
  transition: all 0.5s;
}

.process h4 {
  font-weight: 600;
  font-size: 0.8rem;
  margin: 2vh 0;
}

.process h6 {
  font-weight: 500;
  font-size: 0.6rem;
  margin: 0;
  text-align: center;
}

.process img {
  width: 2.5vw;
}

/*------------------------------------ CONNECT ------------------------------------*/
.connect-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  padding: 10vh 10vw;
}

.world-map {
  height: 60vh;
  opacity: 0.3;
}

.connect {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.connect img {
  width: 30vw;
}

.connect-right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/world\ map.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
}

.connect-right img {
  width: 30vw;
}

/*------------------------------------ picture gallery ------------------------------------*/

.picture-gallery-container {
  padding: 40px 10vw;
  transition: all 0.5s;
}

.picture-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-gap: 35px;
  transition: all 0.5s;
}

.picture-gallery img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  transition: all 0.5s;
}

.gallery-pictures {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #13171f;
  transition: all 1s;
}

.gallery-pictures:hover {
  transform: scale(0.9);
  content: "Hello";
}

/*------------------------------------ REQUEST FORM ------------------------------------*/
.request-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  color: white;
  background: rgb(77, 126, 177);
  background: linear-gradient(
    90deg,
    rgba(77, 126, 177, 1) 0%,
    rgba(20, 59, 99, 1) 67%
  );
  height: 60vh;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 5vh 0;
}

.request-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.request-form input {
  width: 30vw;
  height: 5vh;
  border: none;
  border-radius: 5px;
  padding-left: 1vw;
}

#enter-request {
  height: 20vh;
}

#submit {
  width: 10vw;
  background-color: #c51c4f;
  color: #ffffff;
}

/* .request-form input::placeholder{
  width: 30vw;
  height: 5vh;
  border: none;
  border-radius: 5px;

} */

/*------------------------------------ fo0ter ------------------------------------*/
footer {
  height: 60vh;
  background-color: #343434;
}
